[submodule "drivers/misc/kprofiles"]
	path = drivers/misc/kprofiles
	url = https://github.com/dakkshesh07/Kprofiles.git
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU.git
